/*   COLOR PALETTE   */

/* white color  #ffffff */
/* black color  #000000 */

/* main border color   #ECECEC */
/* second border color #EEEEEE */
/* third border color #afb1b8 */

/* basic color  #212121 */
/* second text  #757575 */
/* accent color #2196F3 */

/* back-color   #2f303a */
/* second-back  #f5f4fa */
/* prime-back   #188ce8 */

/* main-back    #C4C4C4 */
/* main-overlay rgba(47, 48, 58, 0.4); */
/* social-back  rgba(255, 255, 255, 0.1); */

/* main-fill    #AFB1B8 */

/* *** */

/* ***** ***** ***** */
/*     ALL PAGES     */
/* ***** ***** ***** */

:root {
    --primary-white-color: #ffffff;
    --black-color: #000000;

    --main-border-color: #ececec;
    --second-border-color: #eeeeee;
    --third-border-color: #afb1b8;

    --outline-border-color: rgba(0, 0, 0, 0.1);
    --online-second-border: rgba(255, 255, 255, 0.3);
    --second-border-color: rgba(33, 33, 33, 0.2);
    --first-text-color: #212121;
    --second-text-color: #757575;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --placeholder-text: rgba(117, 117, 117, 0.5);

    --accent-color: #2196f3;

    --back-color: #2f303a;
    --second-back-color: #f5f4fa;
    --prime-back-color: #188ce8;
    --main-back-color: #c4c4c4;
    --social-back-color: rgba(255, 255, 255, 0.1);
    --text-back-color: rgba(47, 48, 58, 0.8);

    --backdrop-back-color: rgba(0, 0, 0, 0.2);

    --main-overlay: rgb(47, 48, 58, 0.4);
    --item-overlay: rgba(33, 150, 243, 0.9);

    --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --card-progect-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    --button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

    --modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

    --main-fill: #afb1b8;

    --little-text-size: 12px;
    --small-text-size: 14px;
    --standart-text-size: 16px;
    --normal-text-size: 18px;
    --medium-text-size: 20px;
    --large-text-size: 36px;
    --extra-large-text-size: 44px;

    --little-letter-spacing: 0.01em;
    --small-letter-spacing: 0.02em;
    --main-letter-spacing: 0.03em;
    --medium-letter-spacing: 0.06em;

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
}

/* ----- ----- ----- BODY ----- ----- ----- */

body {
    margin: 0;
    background-color: var(--primary-white-color);
    color: var(--first-text-color);
    font-family: Roboto, Ubuntu, arial, sans-serif;
    letter-spacing: var(--main-letter-spacing);
}

/* ----- ----- list ----- ----- */

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* ----- ----- link ----- ----- */
.link {
    text-decoration: none;
    transition: color var(--transition-duration) var(--timing-function);
}

/* ----- ----- image ----- ----- */
.image {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ----- nav, contacts - hover, focus ----- */
.site-nav .link:hover,
.site-nav .link:focus,
.site-contacts .link:hover,
.site-contacts .link:focus,
.footer-address .link:focus,
.footer-address .link:hover {
    color: var(--accent-color);
}

/* ----- ----- button ----- ----- */

.button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0px;

    cursor: pointer;
    color: var(--first-text-color);
    background-color: var(--primary-white-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;

    transition: color var(--transition-duration) var(--timing-function),
        background-color var(--transition-duration) var(--timing-function),
        box-shadow var(--transition-duration) var(--timing-function);
}

.button.primary {
    padding: 10px 32px;

    color: var(--primary-white-color);
    background-color: var(--prime-back-color);
    line-height: 1.88;
    letter-spacing: var(--medium-letter-spacing);
}

.button.secondary {
    color: var(--first-text-color);
    background-color: var(--second-back-color);
    line-height: 1.62;
}

.button:focus,
.button:hover {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}

.button.secondary:hover,
.button.secondary:focus {
    box-shadow: var(--button-shadow);
}

/* ----- ----- container ----- ----- */

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    /* outline: 1px solid red; */
}

/* ***** ***** ***** */

/*     INDEX PAGE    */

/* ***** ***** ***** */

/* ----- ----- ----- header ----- ----- ----- */

.header {
    border-bottom: 1px solid var(--main-border-color);
}

.main-nav {
    display: flex;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation .link {
    padding-top: 24px;
    padding-bottom: 25px;
}

/* ----- ----- logo ----- ----- */

.logo {
    margin-right: 93px;

    color: var(--black-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
}

.logo-web {
    color: var(--accent-color);
}

.logo:active,
.logo:visited {
    color: var(--black-color);
}

/* ----- ----- site-nav ----- ----- */
.site-nav {
    display: flex;
}

.site-nav .item + .item,
.site-contacts .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--first-text-color);

    font-weight: 500;
    font-size: var(--small-text-size);
    line-height: 1.14;
    letter-spacing: var(--small-letter-spacing);
}

.site-nav .link.current {
    color: var(--accent-color);
}

.current {
    position: relative;
}

.current::after {
    position: absolute;
    left: 0;
    bottom: -1px;

    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--accent-color);
}

/* ----- ----- contacts ----- ----- */

.site-contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.site-contacts .link {
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--second-text-color);
    font-weight: 500;
    font-size: var(--small-text-size);
    line-height: 1.14;
    letter-spacing: var(--small-letter-spacing);
}

/* --- envelope --- */

.site-contacts-email {
    fill: currentColor;
    margin-right: 10px;
}

.site-contacts .email {
    display: flex;
    align-items: center;
}

/* --- smartphone --- */

.site-contacts-smartphone {
    fill: currentColor;
    margin-right: 10px;
}

.site-contacts .smartphone {
    display: flex;
    align-items: center;
}

/* ----- ----- ----- MAIN ----- ----- ----- */

/* ----- ----- hero ----- ----- */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--back-color);
    text-align: center;
}

.hero.overlay {
    min-height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(to right, var(--main-overlay), var(--main-overlay)),
        url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--main-back-color);
}

.hero-title {
    width: 696px;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    color: var(--primary-white-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: var(--extra-large-text-size);
    line-height: 1.36;
    letter-spacing: var(--medium-letter-spacing);
}

/* ----- ----- section ----- ----- */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section.no-bottom-padding {
    padding-bottom: 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.specifics-list {
    display: flex;
}

.specifics-list .item {
    display: block;
    flex-basis: 270px;
}

.specifics-list .item + .item {
    margin-left: 30px;
}

.specifics-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: var(--second-back-color);
}

.section-subtitle {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: var(--small-text-size);
    line-height: 1.14;
    text-transform: uppercase;
}

/* ----- ----- occupation ----- ----- */

.occupation-list {
    display: flex;
    justify-content: space-between;
}

.occupation-list .item + .item {
    margin-left: 30px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--first-text-color);
    font-size: var(--large-text-size);
    line-height: 1.17;
    text-align: center;
}

.section-text {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--second-text-color);
    font-size: var(--small-text-size);
    line-height: 1.71;
}

.occupation-thumb {
    position: relative;
}

.occupation-thumb-about {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;

    background-color: var(--text-back-color);
}

.occupation-thumb-about .section-subtitle {
    margin-bottom: 27px;
    margin-top: 27px;
    color: var(--primary-white-color);
}

/* ----- ----- team ----- ----- */

.team-list {
    display: flex;
}

.team-list .item + .item {
    margin-left: 30px;
}

.team-list .team-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team {
    background-color: var(--second-back-color);
}

.team-list .item {
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: var(--card-shadow);
}

.team-subtitle {
    margin-top: 0;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
}

.team-text {
    margin-top: 0;
    margin-bottom: 16px;

    color: var(--second-text-color);
    line-height: 1.88;
    text-align: center;
}

/* --- team-social-list --- */

.team-socials-list {
    display: flex;
    justify-content: center;
}

.team-social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color var(--transition-duration) var(--timing-function);
}

.team-social-icon {
    fill: var(--main-fill);
    transition: fill var(--transition-duration) var(--timing-function);
}

.team-socials-item + .team-socials-item {
    margin-left: 10px;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: var(--accent-color);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
    fill: var(--primary-white-color);
}

/* ----- ----- client ----- ----- */

.client-list {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.client-list .item {
    width: 170px;
    height: 92px;
}

.client-list .item + .item {
    margin-left: 30px;
}

.client-list .client-link {
    border: 1px solid var(--third-border-color);
    border-radius: 4px;

    transition: border var(--transition-duration) var(--timing-function),
        fill var(--transition-duration) var(--timing-function);
}

.client-list .client-link:hover,
.client-list .client-link:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
}

.client-list .item-flex {
    fill: var(--main-fill);
}

/* ----- ----- ----- footer ----- ----- ----- */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--back-color);
}

.footer-block {
    display: flex;
    align-items: baseline;
}

/* ----- footer-logo-address ----- */

.footer-logo-address {
    width: 230px;
}

/* ----- footer-social ----- */

.footer-social {
    margin-left: 70px;
}

.address-list .item {
    display: block;
}

.address-list .item:not(:last-child) {
    margin-bottom: 9px;
}

.footer .logo,
.footer .location {
    color: var(--primary-white-color);
}

.footer .logo {
    display: inline-block; /* for not all parent weight */
    margin-right: 0;
    margin-bottom: 20px;
}

.footer .address-contacts {
    color: var(--footer-text-color);
}

.footer .list {
    font-style: normal;
    font-size: var(--small-text-size);
    line-height: 1.71;
}

.footer .section-subtitle {
    color: var(--primary-white-color);
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* --- footer-social-list --- */

.footer-social-list {
    display: flex;
}

.item-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer-social-list .icon {
    display: block;
    fill: var(--primary-white-color);
}

.footer-social-list .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: var(--social-back-color);
}

.social-link {
    border-radius: 50%;
    transition: background-color var(--transition-duration) var(--timing-function);
}

.footer-social-list .social-link:hover,
.footer-social-list .social-link:focus {
    background-color: var(--accent-color);
}

.footer-social-list .item + .item {
    margin-left: 10px;
}

/* --- footer-online --- */

.footer-online {
    margin-left: 93px;
}

.online-form {
    display: flex;
}

.footer-online .online-input {
    width: 358px;
    height: 50px;
    border-radius: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    background-color: transparent;
    border: 1px solid var(--online-second-border);
    /* outline: none; */

    font-size: var(--standart-text-size);
    line-height: 1.25;
    color: var(--footer-text-color);

    transition: border-color var(--transition-duration) var(--timing-function);
}

.online-input::placeholder {
    transition: color var(--transition-duration) var(--timing-function);
}

/* .online-input:hover, */
.online-input:focus {
    border-color: var(--accent-color);
}

/* .online-input:hover::placeholder, */
.online-input:focus::placeholder {
    color: var(--accent-color);
}

.footer-online .button.primary {
    display: flex;
    align-items: center;

    width: 200px;
    padding-right: 28px;
    padding-left: 30px;

    margin-left: 12px;
}

.icon-send {
    margin-left: 10px;
    fill: var(--primary-white-color);
}

/* ----- ----- ----- backdrop ----- ----- ----- */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: var(--backdrop-back-color);

    opacity: 1;
    transition: opacity var(--transition-duration) var(--timing-function),
        visibility var(--transition-duration) var(--timing-function);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

/* ----- ----- modal ----- ----- */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    min-height: 580px;
    padding: 40px;

    background-color: var(--primary-white-color);
    box-shadow: var(--modal-shadow);
    border-radius: 4px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--transition-duration) var(--timing-function);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}

/* ----- modal-button-close ----- */

.modal-button-close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;

    background-color: var(--primary-white-color);
    border: 1px solid var(--outline-border-color);
    cursor: pointer;
}

.modal-button-close .modal-close-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modal-close-icon {
    transition: fill var(--transition-duration) var(--timing-function);
}

.modal-button-close:hover .modal-close-icon,
.modal-button-close:focus .modal-close-icon {
    fill: var(--accent-color);
}

/* ----- ----- form ----- ----- */

.modal-title {
    font-size: var(--medium-text-size);
    line-height: 1.15;
    font-weight: 700;
    margin: 0 auto 12px auto;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /* outline: 1px solid blue; */
}

.modal-label {
    margin-bottom: 4px;
    font-size: var(--little-text-size);
    line-height: 1.17;
    letter-spacing: var(--little-letter-spacing);
    color: var(--second-text-color);
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    padding: 10px 12px 10px 42px;
    border-radius: 4px;
    border: 1px solid var(--second-border-color);
    outline: none;

    font-size: var(--little-text-size);
    line-height: 1.17;
    letter-spacing: var(--little-letter-spacing);

    transition: border var(--transition-duration) var(--timing-function);
}

/* .modal-input:hover, */
.modal-input:focus {
    border: 1px solid var(--accent-color);
}

/* .modal-input:hover + .modal-icon, */
.modal-input:focus + .modal-icon {
    fill: var(--accent-color);
}

.modal-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);

    transition: fill var(--transition-duration) var(--timing-function);
}

/* ----- modal-textarea ----- */

.modal-textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
}

.modal-textarea::placeholder {
    color: var(--placeholder-text);
}

/* ----- modal check ----- */

.form-field.check {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}

.modal-check-text {
    display: flex;
    align-items: center;

    font-size: var(--small-text-size);
    line-height: 1.17;
    color: var(--second-text-color);
}

.modal-check-text .modal-check-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 16px;
    height: 15px;
    border: 2px solid var(--black-color);
    border-radius: 2px;
    margin-right: 8px;

    fill: transparent;

    transition: border-color var(--transition-duration) var(--timing-function);
}

.modal-check:checked + .modal-check-text > .modal-check-wrap {
    background-color: var(--accent-color);
    border: none;
}

.modal-check:checked + .modal-check-text .modal-check-icon {
    fill: var(--primary-white-color);
}

.modal-check:checked + .modal-check-text::before {
    background-color: var(--accent-color);
}

/* .modal-check:hover + .modal-check-text > .modal-check-wrap, */
.modal-check:focus-visible + .modal-check-text > .modal-check-wrap {
    border-color: var(--accent-color);
}

/* ----- modal-check-link ----- */

.modal-check-link {
    font-size: var(--small-text-size);
    line-height: 1.17;

    color: var(--accent-color);
}

/* ----- modal-form button ----- */

.modal-form .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 55px;
}

/* ***** ***** ***** */

/*   PORTFOLIO PAGE  */

/* ***** ***** ***** */

/* ----- ----- ----- filters ----- ----- ----- */

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters .item + .item {
    margin-left: 8px;
}

/* ----- ----- ----- project ----- ----- ----- */

.project {
    display: flex;
    flex-wrap: wrap;
}

/* calc((100% - k margins v stroke * zn. marg.) / k el. v str. */
/* calc((100% - (k el. v str. -1) * zn. marg.) / k el. v str.  */

/* calc(((100% - (3 - 1) * 30px)) / 3)  */

.project .item {
    width: calc(((100% - (3 - 1) * 30px)) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.project .item:nth-child(3n) {
    margin-right: 0;
}

.project .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.project .item-content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-right: 1px solid var(--second-border-color);
    border-bottom: 1px solid var(--second-border-color);
    border-left: 1px solid var(--second-border-color);
}

.project-title,
.project-text,
.item-overlay-text {
    margin-top: 0;
    margin-bottom: 0;
}

.project-title {
    color: var(--first-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: var(--medium-letter-spacing);
}

.project-text {
    color: var(--second-text-color);
    line-height: 1.87;
}

.project-link {
    display: block;
    transition: box-shadow var(--transition-duration) var(--timing-function);
}

/* ----- ----- item ----- ----- */

.item-thumb {
    position: relative;
    overflow: hidden;
}

.item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

    background-color: var(--item-overlay);

    transform: translateY(101%);
    transition: transform var(--transition-duration) var(--timing-function);
}

/* .project .project-link:hover .item-overlay, */
.project .project-link:focus .item-overlay {
    transform: translateY(0);
}

.item-overlay-text {
    font-size: var(--normal-text-size);
    line-height: 1.56;
    color: var(--primary-white-color);
}

/* .project .project-link:hover, */
.project .project-link:focus {
    box-shadow: var(--card-progect-shadow);
}
